{{> header }}
{{> navbar }}
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h1>ÑEro Automata</h1>
        </div>
        <div class="clas col-4">
            <img src="assets/img/nier.jpg" class="img-thumbnail niero">
        </div>
    </div>
    {{> footer}}
</div>